/* ==============================variables=================================== */

/**
 * Custom Variables
 */

// CUSTOM VARS HERE
$colors: (
  my-black: #000,
  my-white: #fff,
);

$z-index: (
  nav: 10,
);

/**
 * font-awesome
 */
// $fa-font-path: '../../node_modules/font-awesome/fonts/';
// @import '../../../node_modules/font-awesome/scss/font-awesome';
