@import 'common/variables';
@import 'common/mixins';
@import 'common/bootstrap';

/**************************************************
 ******* Put you code here or in subfolders *******
 *************************************************/

/******* GLOBAL *******/
body {
  padding-top: 70px;
}

.calc {
  button {
    display: block;
    width: 100%;
  }
}

input {
  &[type='text'] {
    height: 50px;
    font-size: 25px;
  }
}

/******* SECTION XXX *******/
