nav.navbar.navbar-toggleable-xl.fixed-top.navbar-full.navbar-inverse.bg-inverse
  button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  a.navbar-brand(href='#') Brand
  #navbarResponsive.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='#') Link
      li.nav-item
        a.nav-link(href='#') Link
    form.form-inline.float-xs-right
      button.btn.btn-outline-primary(type='button') Log In
