nav.flex.items-center.justify-between.flex-wrap.bg-black.p-4
  .flex.items-center.flex-no-shrink.text-white.mr-6
    span.font-semibold.text-xl.tracking-tight Webpack Stack
  .flex.flex-grow.items-center.w-auto
    .text-sm.flex-grow
      a.inline-block.text-teal-lighter.mr-4(href='#') Link
      a.inline-block.text-teal-lighter.mr-4(href='#') Link
