extends html/layout.pug

block content
  section.js-calculator
    form
      input#res.bg-grey-lighter.appearance-none.w-full.h-12.text-xl.p-4(type='number', readonly)
    .flex
      button.p-4.bg-red.text-white.w-full(type='button', data-calculator='AC')
        i.fa.fa-trash.fa-lg
    .flex
      button.p-4.bg-grey-dark.text-white.text-xl(class='w-1/4', type='button', data-calculator='7') 7
      button.p-4.bg-grey-dark.text-white.text-xl(class='w-1/4', type='button', data-calculator='8') 8
      button.p-4.bg-grey-dark.text-white.text-xl(class='w-1/4', type='button', data-calculator='9') 9
      button.p-4.bg-orange-dark.text-white.text-xl(class='w-1/4', type='button', data-calculator='/')
        i.fa.fa-scissors.fa-lg
    .flex
      button.p-4.bg-grey-dark.text-white.text-xl(class='w-1/4', type='button', data-calculator='4') 4
      button.p-4.bg-grey-dark.text-white.text-xl(class='w-1/4', type='button', data-calculator='5') 5
      button.p-4.bg-grey-dark.text-white.text-xl(class='w-1/4', type='button', data-calculator='6') 6
      button.p-4.bg-orange-dark.text-white.text-xl(class='w-1/4', type='button', data-calculator='x')
        i.fa.fa-times.fa-lg
    .flex
      button.p-4.bg-grey-dark.text-white.text-xl(class='w-1/4', type='button', data-calculator='1') 1
      button.p-4.bg-grey-dark.text-white.text-xl(class='w-1/4', type='button', data-calculator='2') 2
      button.p-4.bg-grey-dark.text-white.text-xl(class='w-1/4', type='button', data-calculator='3') 3
      button.p-4.bg-orange-dark.text-white.text-xl(class='w-1/4', type='button', data-calculator='-')
        i.fa.fa-minus.fa-lg
    .flex
      button.p-4.bg-grey-dark.text-white.text-xl(class='w-1/4', type='button', data-calculator='1') 1
      button.p-4.bg-green-dark.text-white.text-xl(class='w-1/2', type='button', data-calculator='=') =
      button.p-4.bg-orange-dark.text-white.text-xl(class='w-1/4', type='button', data-calculator='+')
          i.fa.fa-plus.fa-lg
